schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="joblist">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="job">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="context">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="options">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="unbounded" name="option">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element minOccurs="0" name="description" type="xs:string" />
                                <xs:element name="label" type="xs:string" />
                              </xs:sequence>
                              <xs:attribute name="name" type="xs:string" use="required" />
                              <xs:attribute name="enforcedvalues" type="xs:boolean" use="optional" />
                              <xs:attribute name="required" type="xs:boolean" use="optional" />
                              <xs:attribute name="values" type="xs:string" use="optional" />
                              <xs:attribute name="delimiter" type="xs:string" use="optional" />
                              <xs:attribute name="multivalued" type="xs:boolean" use="optional" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="preserveOrder" type="xs:boolean" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="defaultTab" type="xs:string" />
              <xs:element name="description" type="xs:string" />
              <xs:element name="executionEnabled" type="xs:boolean" />
              <xs:element name="group" type="xs:string" />
              <xs:element name="id" type="xs:string" />
              <xs:element name="loglevel" type="xs:string" />
              <xs:element name="name" type="xs:string" />
              <xs:element name="nodeFilterEditable" type="xs:boolean" />
              <xs:element name="notification">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="onfailure">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="unbounded" name="plugin">
                            <xs:complexType>
                              <xs:sequence minOccurs="0">
                                <xs:element name="configuration">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="entry">
                                        <xs:complexType>
                                          <xs:attribute name="key" type="xs:string" use="required" />
                                          <xs:attribute name="value" type="xs:string" use="required" />
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute name="type" type="xs:string" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="onstart">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="plugin">
                            <xs:complexType>
                              <xs:attribute name="type" type="xs:string" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="onsuccess">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="unbounded" name="plugin">
                            <xs:complexType>
                              <xs:sequence minOccurs="0">
                                <xs:element name="configuration">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="entry">
                                        <xs:complexType>
                                          <xs:attribute name="key" type="xs:string" use="required" />
                                          <xs:attribute name="value" type="xs:string" use="required" />
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute name="type" type="xs:string" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="scheduleEnabled" type="xs:boolean" />
              <xs:element name="sequence">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="command">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" name="exec" type="xs:string" />
                          <xs:element minOccurs="0" name="description" type="xs:string" />
                          <xs:element minOccurs="0" name="step-plugin">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="configuration">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="entry">
                                        <xs:complexType>
                                          <xs:attribute name="key" type="xs:string" use="required" />
                                          <xs:attribute name="value" type="xs:string" use="required" />
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute name="type" type="xs:string" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="keepgoing" type="xs:boolean" use="required" />
                  <xs:attribute name="strategy" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="uuid" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>